<section id="options">
  <div>
   <div class="boxed-body">
     <div class="row">
         <div class="col s6"> 
             <button routerLink="/halfhour" (click)="searchData(id)" class="options" id="menos-30-min" value="25 min">Menos de 30 min</button>
         </div>
         <div class="col s6">
             <button class="options" id="30-60min" value="50 min">30 a 60 min</button>
         </div>
         <div class="col s6">
             <button class="options" id="1-2horas" value="90 min">1 a 2 horas</button>
         </div>
         <div class="col s6">
             <button class="options" id="más-2-horas" value=" min">Más de 2 horas</button>
         </div>             
     </div>
   </div>
 </div>
</section>
