<section id="options">
  <div class="container-img">
    <a href="index.html" rel="noopener noreferrer">
    <img src="https://www.sumel.cl/img/logomovietime.png" alt="Logo Movie Time">
    </a>             
  </div>
  <div>
   <div class="boxed-body">
     <div class="row">
         <h3 id="text-explication">¿Cuanto tiempo dispones para ver una serie o película?</h3>
         <div class="col s6"> 
             <button class="options" id="menos-30-min" value="25 min">Menos de 30 min</button>
         </div>
         <div class="col s6">
             <button class="options" id="30-60min" value="50 min">30 a 60 min</button>
         </div>
         <div class="col s6">
             <button class="options" id="1-2horas" value="90 min">1 a 2 horas</button>
         </div>
         <div class="col s6">
             <button class="options" id="más-2-horas" value=" min">Más de 2 horas</button>
         </div>             
     </div>
   </div>
 </div>
</section>
