<!--The content below is only a placeholder and can be replaced.-->
<section id="entry-aplication" class="container">
  <div class="conatiner-img">
      <a href="index.html" rel="noopener noreferrer">
      <img src="https://www.sumel.cl/img/logomovietime.png" alt="Logo Movie Time">
     </a>             
  </div>
  <div class="container-p">
      <h3>Busca que ver según tu tiempo</h3>
  </div>
  <div class="container-button">
         <button class="btn-floating pulse" id="play"><i class="far fa-play-circle"></i></button>
  </div>         
</section>

